@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    overflow: auto;
}

h2 {
    @apply font-semibold text-xl md:text-2xl py-6 
}
h3 {
    @apply font-semibold text-lg md:text-xl py-4 
}